.is_open {
    background-color: red;
}

.dead {
    background-color: lightgray;
}

table.player_list {
    border-collapse: collapse;
}


.player_list td, .player_list th {
    text-align: center;
    /* border: 1px solid black; */
    padding: 2px;
}