{% extends "base.html" %}
{% block title %}Player list{% endblock %}
{% block content %}
{% if game.in_progress == False and players %}
    <p class="alert alert-info">Targets and secret codes sent to players</p>
    <form action="{% url 'accounts:start_game' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Start game</button>
    </form>
{% elif game.winner %}
<p>The last player standing is {{ game.winner }}!</p>
    {% if not most_kills_players %}
    <p class="alert alert-secondary">No-one scored above 0 eliminations :(</p class="alert alert-success">
    {% elif most_kills_players.count == 1 %}
    <p class="alert alert-success">The player with the most eliminations was {{ most_kills_players.first }} with {{ max_kills }} elimination{{ max_kills|pluralize:"s" }}!</p class="alert alert-success">
    {% else %}
    <p>The following players shared the highest no. of eliminations, {{ max_kills }}</p>
    <ul>
        {% for player in most_kills_players %}
        <li>{{ player }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<form action="{% url 'accounts:reset_game_to_start' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Start a new game?</button>
</form>
{% elif game.in_progress %}
<p class="alert alert-success">Game in progress</p>
{% endif %}
{% if players %}
<h2 class="mt-4">Player list</h2>
<table class="player_list table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Player</th>
            <th>Email</th>
            <th>Secret code</th>
            <th>Target</th>
            {% if game.in_progress == True %}
            <th>Eliminations</th>
            <th>Open</th>
            <th>Time since last assignment</th>
            {% if not game.winner %}
            <th><a data-toggle="tooltip" title="This will put the player on the open list regardless of their duration of inactivity">Manual open</a></th>
            <th><a data-toggle="tooltip" title="This will give the player's killer the player's target, and if revived, doesn't guaranetee the same target">Manual kill</a></th>
            {% endif %}
            {% endif %}
            {% if not game.winner %}
            <th><a data-toggle="tooltip" title="This will delete the player's account permanently">Delete player</a></th>
            {% endif %}
        </tr>
    </thead>
    {% for player in players %}
    <tr class="{% if player.is_open == True %}is_open{% elif player.alive == False %}dead{% endif %}">
        <td>{{ player }}</td>
        <td>{{ player.user.email }}</td>
        <td>{{ player.secret_code }}</td>
        <td>{{ player.target }}</td>
        {% if game.in_progress == True %}
        <td>{{ player.kills }}</td>
        <td>{% if player.is_open == True %}OPEN{% endif %}</td>
        <td>{{ player.inactivity_duration }}</td>
        {% if not game.winner %}        
        <td>
            {% if player.alive == True %}
            <form action="{% url 'accounts:manual_open' %}" method="POST">
                {% csrf_token %}
                <button type="submit"class="btn btn-secondary btn-block">{% if player.manual_open %}Undo{% else %}Set manual open{% endif %}</button>
                <input type="hidden" value="{{ player.pk }}" name="pk">
            </form>
            {% endif %}
        </td>
        <td>
            <form action="{% url 'accounts:manual_kill' %}" method="POST" onsubmit="return confirm('Are you sure? Reviving a player will give them a random target');">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary btn-block">{% if player.alive %}Manual kill{% else %}Revive{% endif %}</button>
                <input type="hidden" value="{{ player.pk }}" name="pk">
            </form>
        </td>
        {% endif %}
        {% endif %}
        {% if not game.winner %}
        <td>
            <form action="{% url 'accounts:delete_player' %}" method="POST" onsubmit="return confirm('Are you sure? This can not be undone');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-block">Delete</button>
                <input type="hidden" value="{{ player.pk }}" name="pk">
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
<h2>{% if not players %}Registered players{% else %}New players{% endif %}</h2>
{% if new_players %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Player</th>
            <th>Email</th>
            {% if not game.winner %}
            {% if game.has_sent_info %}
            <th>Add to game</th>
            {% endif %}
            <th>Remove</th>
            {% endif %}
        </tr>
    </thead>
    {% for player in new_players %}
    <tr>
        <td>{{ player }}</td>
        <td>{{ player.user.email }}</td>
        {% if not game.winner %}
        {% if game.has_sent_info %}
        <td>
            <form action="{% url 'accounts:manual_add' %}" method="POST" onsubmit="return confirm('Are you sure?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Add</button>
                <input type="hidden" value="{{ player.pk }}" name="pk">
            </form>            
        </td>
        {% endif %}  
        <td>
            <form action="{% url 'accounts:delete_player' %}" method="POST" onsubmit="return confirm('Are you sure?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                <input type="hidden" value="{{ player.pk }}" name="pk">
            </form>            
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% else %}
<p>{% if not players %}No players have registered{% else %}No new players{% endif %}</p>
{% endif %}
{% if players and not game.winner %}
<h2>Target ordering</h2>
<p>{{ target_ordering|linebreaks }}</p>
{% endif %}
{% if not game.winner %}
{% if new_players or players %}
<form action="{% url 'accounts:reset_player_data' %}" style="display: inline" method="POST" onsubmit="return confirm('Are you sure?');">
    {% csrf_token %}
    <button type="submit"class="btn btn-secondary">{% if players %}Reset player data{% else %}Generate secret codes and assign targets{% endif %}</button>
</form>
{% endif %}
{% if game.has_sent_info %}
<form action="{% url 'accounts:reassign_targets' %}" style="display: inline" method="POST" onsubmit="return confirm('Are you sure?');">
    {% csrf_token %}
    <button type="submit"class="btn btn-secondary">Reassign targets</button>
</form>
{% endif %}
{% endif %}
{% if DEBUG == True %}
<form action="{% url 'accounts:populate_players' %}" style="display: inline" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-light">Populate with random players (password is 123)</button>
    <input type="hidden" name="pk" value="{{ game.pk }}">
</form>
{% endif %}
<div><a href="{% url 'accounts:profile' %}" class="btn btn-link">Go back</a></div>
{% endblock %}