{% extends 'base.html' %}
{% block title %}Game dashboard{% endblock %}
{% block content %}
<div class="row mb-5">
    <div class="col-lg-5 mb-3">
        <div class="card">
            <div class="card-header">Information</div>
            <div class="card-body">
                <p>Email: {{ user.email }}</p>
                <p>Game access code: {{ user.game.access_code }}</p>
                <p>Players that have registered: {{ user.game.players.count }}</p>
            </div>
        </div>
    </div>
    
    <div class="col-lg-7">
        <div class="card">
            <div class="card-header text-monospace">
                Status: <strong>{% if game.in_registration %}registration stage{% elif game.in_target_sending %}targets assigned{% elif game.in_elimination_stage %}elimination stage{% else %}complete{% endif %}</strong>
            </div>
            <div class="card-body">
                <div class="row align-items-center rounded ml-2 mr-2 {% if game.in_registration %}bg-lightgreen {% endif %}p-2">
                    <div class="col-sm-5">
                        1. Send out targets to players 
                    </div>
                    <div class="col-sm-7">
                        <form action="{% url 'accounts:reset_player_data' %} " style="display: inline" method="POST" onsubmit="return confirm('Are you sure?');">
                            {% csrf_token %}
                            <button type="submit"class="btn btn-secondary btn-block" {% if not game.in_registration %}disabled{% endif %}>Assign targets</button>
                        </form>
                    </div>  
                </div>
                
                <div class="row align-items-center rounded  ml-2 mt-3 mr-2 {% if game.in_target_sending %}bg-lightgreen {% endif %} p-2">
                    <div class="col-sm-5">
                        2. Begin the elimination round
                    </div>
                    <div class="col-sm-7">
                        <form action="{% url 'accounts:start_game' %}" style="display: inline" method="POST" onsubmit="return confirm('Are you sure?');">
                            {% csrf_token %}
                            <button type="submit"class="btn btn-secondary btn-block" {% if not game.in_target_sending %}disabled{% endif %}>Start game</button>
                        </form>
                    </div>  
                </div>
                
                {% if game.winner or game.in_elimination_stage %}
                <div class="row align-items-center rounded ml-2 mt-3 mr-2 {% if game.winner %}bg-lightgreen {% endif %} p-2">
                    {% if game.winner %}
                    <div class="col-sm-5">
                        3. Start a new game
                    </div>
                    <div class="col-sm-7">
                        <form action="{% url 'accounts:reset_game_to_start' %}" style="display: inline" method="POST" onsubmit="return confirm('Are you sure?');">
                            {% csrf_token %}
                            <button type="submit"class="btn btn-secondary btn-block">Restart</button>
                        </form>
                    </div>  
                    {% elif game.in_elimination_stage %}
                    <div class = "col-sm-12 alert alert-success mb-0">Game in progress</div>
                    {% endif %}
                </div>    
                {% endif %}        
            </div>
        </div>
    </div>
</div>


<a href="{% url 'accounts:change_details' %}" class="btn btn-secondary">Change details</a>

<a href="{% url 'accounts:delete_game' %}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete game</a>

{% endblock %}