{% extends 'admin/change_form.html' %}

{% block object-tools %}
        <form action="reset_players/" method="POST" style="display:inline-block; margin-right: 10px">
            {% csrf_token %}
            <button type="submit" class="button" style="padding: 5px;">Reset player data</button>
        </form>
        <form action="reassign_targets/" method="POST" style="display:inline-block">
            {% csrf_token %}
            <button type="submit" class="button" style="padding: 5px;">Reassign targets</button>
        </form>
    <br />
    {{ block.super }}
{% endblock %}