{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to the online Assassin game manager</h1>
        <p class="lead">Host games of assassin with complete control but minimal effort</p>
        <hr class="my-4">
        <a href="{% url 'accounts:register' %}" class="btn btn-primary btn-lg">Join a game</a>
        <a href="{% url 'accounts:create_game' %}" class="btn btn-primary btn-lg">Create a game</a>
    </div>
</div>
{% endblock %}