{% extends "base.html" %}
{% block title %}Player list{% endblock %}
{% block content %}
{% if game.winner %}
<p>The last player standing is {{ game.winner }}!</p>
    {% if not most_kills_players %}
    <p>No-one scored above 0 eliminations :(</p>
    {% elif most_kills_players.count == 1 %}
    <p>The player with the most eliminations was {{ most_kills_players.first }} with {{ max_kills }} elimination{{ max_kills|pluralize:"s" }}!</p>
    {% else %}
    <p>The following players had the most eliminations ({{ max_kills }})</p>
    <ul>
        {% for player in most_kills_players %}
        <li>{{ player }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endif %}
{% if players %}
<h2>Player list</h2>
<table class="player_list table">
    <thead class="thead-light">
        <tr>
            <th>Player</th>
            {% if game.in_progress == True %}
            <th>Eliminations</th>
            <th>Time since last assignment</th>
            <th>Open</th>
            {% endif %}
        </tr>
    </thead>
    {% for player in players %}
    <tr class="{% if player.is_open == True %}is_open{% elif player.alive == False %}dead{% endif %}">
        <td>{{ player }}</td>
        {% if player.game.in_progress == True %}
        <td>{{ player.kills }}</td>
        <td>{{ player.inactivity_duration }}</td>
        <td>{% if player.is_open == True %}OPEN{% endif %}</td>
        {% endif %}
    </tr>
    
    {% endfor %}
</table>
{% endif %}
{% if not game.has_sent_info %}
<table class="player_list table">
    <thead class="thead-light">
        <tr>
            <th>Registered players</th>
        </tr>
    </thead>
    {% for player in new_players %}
    <tr>
        <td>{{ player }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<br>
<a href="{% url 'accounts:profile' %}">Go back</a>
{% endblock %}