{% extends 'admin/change_form.html' %}

{% block object-tools %}
    <div>
        <form action="manual_delete/" method="POST" style="display:inline-block; margin-right: 10px">
            {% csrf_token %}
            <button type="submit" class="button" style="padding: 5px;">Manually delete player</button>
        </form>
        <form action="manual_kill/" method="POST" style="display:inline-block; margin-right: 10px">
            {% csrf_token %}
            <button type="submit" class="button" style="padding: 5px;">Manually kill player</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}