<p>Welcome {{ user.first_name }}!</p>
<p>Your registered email is {{ user.email }}</p>
{% if user.player.secret_code %}
<p>Your secret code is {{ user.player.secret_code }}</p>
{% endif %}
{% if user.player.target %}
<p>Your target is {{ user.player.target }}</p>
{% endif %}
{% if user.player.game.in_progress == True %}
{% if user.player.secret_code %}
<p>You have {{ user.player.kills }} elimination{{ user.player.kills|pluralize:"s" }}.</p>
{% endif %}
    {% if user.player == user.player.game.winner %}
    <p>Congratulations, you are the last player standing!</p>
    {% elif user.player.alive == False %}
    <p>You were eliminated</p>
    {% endif %}
    <form action="{% url 'accounts:manual_kill' %}" method="POST" onsubmit="return confirm('Are you sure?');">
        {% csrf_token %}
        {% if user.player.alive == True %}
        {% if user.player.secret_code and not user.player.game.winner %}
        <button type="submit">Leave the game (your killer gets your target)</button>
        {% endif %}
        <input type="hidden" value="{{ user.player.pk }}" name="pk">
        {% endif %}
    </form>
{% endif %}

{% if user.player.game.in_progress == False %}
<form action="{% url 'accounts:delete_player' %}" method="POST" onsubmit="return confirm('Are you sure? This can not be undone');">
    {% csrf_token %}
    <button type="submit">Delete yourself</button>
    <input type="hidden" value="{{ user.player.pk }}" name="pk">
</form>
{% endif %}

{% if user.player.game.in_progress == True and user.player.secret_code and user.player.alive and not user.player.game.winner %}
<a href="{% url 'accounts:assignment' %}">Assignment</a>
{% endif %}
<a href="{% url 'accounts:player_list' %}">Player list</a>
{% if user.player.game.in_progress == True %}
<a href="{% url 'accounts:graveyard' %}">Graveyard</a>
{% endif %}
<a href="{% url 'accounts:change_details' %}">Change details</a>
<a href="{% url 'accounts:logout' %}">Logout</a>

