{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">Information</div>
            <div class="card-body">
                <p>Welcome {{ user.first_name }}!</p >
                <p>Your registered email is {{ user.email }}</p>
                {% if user.player.secret_code %}
                <p>Your secret code is <strong>{{ user.player.secret_code }}</strong></p>
                {% endif %}
                {% if user.player.target %}
                <p>Your target is <strong>{{ user.player.target }}</strong></p>
                {% endif %}
                {% if user.player.game.in_progress == True %}
                {% if user.player.secret_code %}
                <p>You {% if user.player.alive %}have{% else %}had{% endif %} {{ user.player.kills }} elimination{{ user.player.kills|pluralize:"s" }}.</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header text-monospace">Game status</div>
            <div class="card-body text-monospace">
                {% if game.in_registration %}
                <p class="mb-0" data-toggle="tooltip" title="Waiting for more players to register">In registration</p>
                {% elif game.in_target_sending %}
                <p class="mb-0" data-toggle="tooltip" title="Players can check their target but can't eliminate them yet">Targets assigned</p>
                {% elif game.in_elimination_stage and not game.winner and not game.force_ended %}
                <p class="mb-0" data-toggle="tooltip" {% if player.alive %}title="You can now eliminate your target (or 'open' players)"{% endif %}>Elimination stage</p>
                {% if user.player.alive == False %}
                <p class="alert alert-secondary mt-3 mb-0">You have been eliminated</p>
                {% elif user.player.is_open == True %}
                <p class="alert alert-danger mt-3 mb-0" data-toggle="tooltip" title="Anyone can eliminate you!">You are on the open list!</p>
                {% endif %}
                {% else %}
                {% if user.player == user.player.game.winner %}
                <p class="alert alert-success mt-3 mb-0">Congratulations! You are the last person standing!</p>
                {% elif game.winner %}
                <p class="alert alert-success mt-3 mb-0">The game has finished! The last person standing is {{ game.winner }}</p>
                {% elif game.force_ended %}
                <p class="alert alert-info mt-3 mb-0">The game has concluded without a last person standing. Refer to the player list for stats.</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>   
    <div class="col-lg-5">
        <div class="card" id="assignment-card">
            <div class="card-header" disabled>
                Completed an elimination? Submit it below.
                {% if game.in_elimination_stage == False or player.alive == False %} 
                <div class="text-muted"><small>(this is unavailable since the game hasn't started yet)</small></div>
                {% endif %}
            </div>
            <div class="card-body">
                <form action="{% url 'accounts:profile' %}" method="post">
                    {% csrf_token %}
                    {% include 'accounts/form_display.html' with form=form %}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>


{% if user.player.game.in_progress == True %}
{% if user.player.alive == True and user.player.secret_code and user.player.game.in_elimination_stage %}
<a href="{% url 'accounts:manual_kill' %}" onclick="return confirm('Are you sure?')" class="btn btn-secondary">Leave the game (your killer gets your target)</a>
{% endif %}
{% endif %}
<a href="{% url 'accounts:change_details' %}" class="btn btn-secondary">Change details</a>
{% if user.player.game.in_progress == False %} 
<a href="{% url 'accounts:delete_player' %}" class="btn btn-secondary" onclick="return confirm('Are you sure? This can not be undone')" class="btn btn-secondary">Delete self</a>
{% endif %}
<br>
<!-- <a href="{% url 'accounts:logout' %}">Logout</a> -->
{% endblock %}
{% block scripts %}
{% if game.in_elimination_stage == False or user.player.alive == False %}
<script>
    $('#assignment-card').find('*').attr('disabled', true);
</script>
{% endif %}
{% endblock %}