{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}?{% now 'U' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}?{% now 'U' %}">
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand">Assassin Game Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav" role="navigation"> 
                        {% if user.is_authenticated and user.is_superuser == False %}
                        <a class="nav-item nav-link" href="{% url 'accounts:rules' %}">Rules</a>
                        <a class="nav-item nav-link" href="{% url 'accounts:profile' %}">{% if user.game %}Game dashboard{% else %}Player profile{% endif %}</a>
                        <a class="nav-item nav-link" href="{% url 'accounts:player_list' %}">Player List</a>
                        {% if user.player.game.in_progress == True and user.player.secret_code and user.player.alive == True and not user.player.game.winner %}
                        <a class="nav-item nav-link" href="{% url 'accounts:assignment' %}">Assignment</a>
                        {% endif %}   
                        {% if user.player.game.in_progress == True %}
                        <a class="nav-item nav-link" href="{% url 'accounts:graveyard' %}">Graveyard</a>
                        {% endif %}   
                        <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>  
                        {% endif %}
                        <a class="nav-item nav-link" href="{% url 'accounts:register' %}">Register</a>
                        <a class="nav-item nav-link" href="{% url 'accounts:create_game' %}">Create game</a>
                        <a class="nav-item nav-link" href="{% url 'accounts:login' %}">Login</a>
                    </div>
                </div>
            </nav>
            <br>
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
    </body>
</html>
