{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.css' %}?{% now 'U' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}?{% now 'U' %}">
        <title>Assassin Manager: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <main class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
                <a class="navbar-brand" href="{% url 'accounts:home' %}">Assassin Game Manager</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% with request.resolver_match.view_name as url_name %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav mr-auto"> 
                        <a class="nav-item nav-link {% if url_name == 'accounts:guide' %}active{% endif %}" href="{% url 'accounts:guide' %}">Guide</a>
                        {% if user.is_authenticated and user.is_superuser == False %}
                        <a class="nav-item nav-link {% if url_name == 'accounts:rules' %}active{% endif %}" href="{% url 'accounts:rules' %}">Rules</a>
                        <a class="nav-item nav-link {% if url_name == 'accounts:profile' %}active{% endif %}" href="{% url 'accounts:profile' %}">{% if user.game %}Game dashboard{% else %}Player profile{% endif %}</a>
                        <a class="nav-item nav-link {% if url_name == 'accounts:player_list' %}active{% endif %}" href="{% url 'accounts:player_list' %}">Player List</a>
                        {% if user.player.game.in_progress == True or user.game and user.game.in_progress == True %}
                        <a class="nav-item nav-link {% if url_name == 'accounts:graveyard' %}active{% endif %}" href="{% url 'accounts:graveyard' %}">Graveyard</a>
                        {% endif %}   
                        <a class="nav-item nav-link" href="{% url 'accounts:logout' %}">Logout</a>  
                        {% endif %}
 
                    </div>
                    <div class="navbar-nav ml-auto"> 
                        <a class="nav-item nav-link {% if url_name == 'accounts:register' %}active{% endif %}" href="{% url 'accounts:register' %}">Join game</a>
                        <a class="nav-item nav-link {% if url_name == 'accounts:create_game' %}active{% endif %}" href="{% url 'accounts:create_game' %}">Create game</a>
                        <a class="nav-item nav-link {% if url_name == 'accounts:login' %}active{% endif %}" href="{% url 'accounts:login' %}">Login</a>
                    </div>
                </div>
                {% endwith %}
            </nav>
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    <strong>{{ message|escape }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <div class="container-fluid">
                <span class="text-muted">&copy; 2019<a href="https://pyang.herokuapp.com/"><img class="portfolio-site-icon" src="{% static 'portfolio-site-icon.ico' %}"></a></span>
            </div>
        </footer>
        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <!-- <script src="{% static 'popper.min.js' %}"></script> -->
        <!-- for some weird reason, only this works -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> 
        <!-- <script src="https://unpkg.com/@popperjs/core@2.0.0-rc.2"></script> -->
        <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.js' %}"></script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        {% block scripts %}{% endblock %}
    </body>
</html>
